.home-container {
display: flex;
justify-content: center;
padding: 50px 60px 0px 60px;
}
/* 
.right {
  flex-direction: column;
  width: 60%;
} */

.right-top {
margin-bottom: 30px;
text-align: center;
font-family: 'Red Hat Display', sans-serif;
font-style: italic;
font-weight: normal;
font-size: 25px;
line-height: 33px;
display: flex;
flex-direction: column;
align-items: center;
color: #0795FF;
flex-direction: row;
justify-content: center;
}

.right-top-text1 {
  padding-bottom: 20px;
  font-size: 70px;
  color: #F59FBC;
    font-weight: 300;
}
.right-top-text2 {
 max-width: 441px;
}

/* .left {
  flex-direction: row;
  justify-content: center;
} */
.login-warning {
display: flex;
color: #808080;
flex-direction: column;
font-style: italic;
font-weight: normal;
font-size: 15px;
line-height: 20px;
align-items: center;
padding-left: 55px;
padding-right: 55px;
}
.login-form-container {
  display: flex;
  width: 474px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #FFFFFF;
  border: 4px solid rgba(7, 149, 255, 0.19);
  box-sizing: border-box;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(16px);
}

.login-form {
  flex-direction: column;
  align-self: center;
  padding: 40px 100px 0 100px;
  max-width: 100%;
}

.logo {
  padding-left: 27px !important;
}
.register-text {
  padding-left: 43px;
}
.login-form {
  max-width: 100%;
}
.divider {
  max-width: 598px;
  min-width: 0;
  border: solid 0.5px #0795FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ant-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  -webkit-font-feature-settings: 'tnum', "tnum";
  font-feature-settings: 'tnum', "tnum";
  position: relative;
  display: inline-block;
  max-width: 272px;
  height: 41px;
  min-width: 0;
  padding: 4px 11px;
  color: #4F4F50;
  font-size: 14px;
  line-height: 1.5715;
  background-color: #F4F2F2;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ant-btn-primary {
  max-width: 272px;
  height: 50px;
  color: #fff;
  font-size: 16px;
  background-color: #0795FF;
  border-color: #0795FF;
  border-radius: 25px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

  @media screen and ( max-width: 600px ) {
    .doctors {display: none;}
  }
  @media screen and ( max-width: 600px ) {
    .home-container {
      max-width: 320px;
      flex-direction: column;
      justify-content: center;
    }
  }
  @media screen and ( max-width: 600px ) {
    .login-form-container .ant-input .ant-btn-primary{
      justify-content: center;
    }
  }
  @media screen and ( max-width: 600px ) {
    .right-top {
      max-width: 445px;
      flex-direction: none;
    justify-content: center;
    font-size: 24px;
    }
  }
  @media screen and ( max-width: 600px ) {
    .right-top-text1 {
      max-width: 445px;
      flex-direction: none;
    justify-content: center;
    font-size: 50px;
    }
  }
