.ant-layout {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: auto;
  flex: auto;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 0;
  background: none !important;
}

.ant-layout-footer {
  padding: 24px 50px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  background: none !important;
}
#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}
.ant-layout-sider {
  position: relative;
  min-width: 0;
  background: #0795FF;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.ant-menu-inline .ant-menu-item:not(:last-child){
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 40px;
  background: #0795FF;
  height: 150px;
  text-align: center;
  padding-left: 0 !important;
}
.ant-menu-inline .ant-menu-item {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 40px;
  background: #0795FF;
  height: 150px;
  text-align: center;
  padding-left: 0 !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #0795FF;
  color: #ffffff;
}

.settings {
  height: 150px;
  justify-content: center;
  align-content: center;
  background: #0795FF;
  margin-top: 200px;
  border-top: 1px solid #FFFFFF;
  cursor: pointer;
}
.ant-layout-header {
  height: 100px ;
  padding: 0 50px;
}
.custom-header {
  height: 100px !important;
  padding: auto 30px;
  justify-content: flex-end;
}
.header-items {
  padding: 35px 30px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #000000;
}
.header-icons {
  padding: 35px 32px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 23px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #c1c1ce;
}
.notification-count {
  position: absolute;
    top: 36px;
    right: 8rem;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #F59FBC;
}

.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0;
  right: -66px;
  z-index: 1;
  width: 76px;
  height: 100px;
  color: #fff;
  font-size: 36px;
  line-height: 89px;
  text-align: center;
  background: #001529;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  transition: background .3s ease;
}