body {
  background: #EDEDF6;
  background-image: url("./assets/back\ 01\ 1.png");
}

.App {
  max-width: 100%;
  /* padding: 50px 60px 0px 60px; */
}
@media screen and ( max-width: 600px ) {
  .App {
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 50px;
    padding-left: 0;
  }
}


